.button-container {
   height: 83px;
   flex: 1 1;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 38px;
   background-color: #1b1b32;
   color: white;
   border-radius: 25px;
   border: 2px solid white;
   cursor: pointer;
   margin: 4px;
   user-select: none;
}

.button-container:hover {
    background-color: #5a01a7;
}

.operador {
    background-color: #00471b;
}


.operador:hover {
    background-color: #ff6600;
}




